
/*file name    : app.css
   Student name: Yuichi Boki
   Student ID  : 301216594
   Date        : 2022-10-09*/
/* custom css goes here */

/*css for form that is in contact.js*/
form{
    width: 150px;
    float:left;
    clear:both;
    margin-right:30;
}